*
{
    font-family:Roboto Mono;
}

h1,h4
{
    font-family: Poppins;
}

.container, .carousel
{
    margin-top: 40px;
}

.carousel-item
{
    min-height: 400px;
}

.carousel-caption
{
    background-color: white;
    color: black;
    box-shadow: 2px black;
}

.carousel-control-prev,.carousel-control-next
{
    width:50%;
}

.griditem
{
    background-color: lightgray;
    border-radius: 15px;
    padding: 20px;
}

.gridimg
{
    width:100%;
}