*
{
    font-family:Roboto Mono;
}

body, .card-body
{
    background-color: #F6E7E6 !important;
}

nav
{
    background-color: #F6E5F5;
}

h1,h4
{
    font-family: Poppins;
}

.container, .carousel
{
    margin-top: 40px;
}

.carousel-item
{
    min-height: 400px;
}

.carousel-inner
{
    background-color: #F6E7E6;
}

.carousel-caption
{
    background-color: #F6E5F5;
    color: black;
    box-shadow: 2px black;
}

.carousel-control-prev,.carousel-control-next
{
    width:50%;
}

.griditem
{
    background-color: #F6E7E6;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.gridcap
{
    background-color: #F6E5F5;
}

.gridimg
{
    width:100%;
}

a:hover, .nav-item
{
    color: #B9CCED!important;
}

